DiscordUtils
aiogoogletrans
alexflipnote.py
async_cleverbot
async_cse
asyncpg
bs4
dblpy
discord.py>=1.4.1
gTTS
git+git://github.com/jmoiron/humanize.git
jishaku
lxml
numexpr
psutil
randomcolor
requests
tabulate
wikipedia
youtube_dl