aiogoogletrans
alexflipnote.py
async_cleverbot
async_cse
# async_dagpi
async_mediawiki
asyncpg
better_profanity
bs4
dblpy
discord-flags
DiscordUtils
git+git://github.com/Gorialis/jishaku.git
git+git://github.com/jmoiron/humanize.git
git+git://github.com/LiBa001/disputils.git
git+git://github.com/Rapptz/discord-ext-menus.git
git+git://github.com/Rapptz/discord.py.git
git+git://github.com/ShineyDev/prettify.py.git
gTTS
lxml
mystbin.py
numexpr
psutil
pyparsing
python-dotenv
randomcolor
requests
tabulate
uwuify
vacefron.py
wikipedia
youtube_dl